anyio==3.3.4
asgiref==3.4.1
click==8.0.3
colorama==0.4.4
embodier==1.0.7
fastapi==0.70.0
gunicorn==20.1.0
h11==0.12.0
h2==4.1.0
hpack==4.0.0
Hypercorn==0.11.2
hyperframe==6.0.1
idna==3.3
numpy==1.19.5
Pillow==8.1.0
priority==2.0.0
pydantic==1.8.2
sniffio==1.2.0
starlette==0.16.0
toml==0.10.2
typing-extensions==3.10.0.2
uvicorn==0.15.0
wsproto==1.0.0
